@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Newsreader:opsz,wght@6..72,400;6..72,500&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    background: white;
    font-family: 'Nunito', sans-serif;
    color:#1A262E;
}



.all{
    max-width:1450px;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
}

#burger{
    display:none;
    z-index: 100;
}

/* Header */

li{
    list-style-type: none;
}

.list{
    display:flex;
    height: 290px;
}

.ul__element{
    padding:0 30px 0 30px;
}

.li__text{
    color:black;
    text-decoration: none;
    font-size:18px;
    line-height: 21.82px;
    font-weight: 500;
}

.info{
    filter: drop-shadow( -4px 4px 4px rgba(41, 35, 92, 0.1));
}

.info-block{
    background: #F7FCFE;
    padding:30px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -35px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93%);
    border-radius: 0 0 50px 50px;
}

.info-block__title{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    padding-bottom:20px;
    padding:15px 0 30px 0;
}

.main-info{
    display: flex;
    flex-direction: column;
}

.main-main-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mail__img{
    padding-right:10px;
}

.contact{
    display:flex;
    align-items: center;
}

.contact__info{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.contact__img{
    width:auto;
    height:20px;
    padding-right:15px;
}

.contact__text{
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    padding-bottom:10px;
}

.mail__text{
    display:flex;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
}

.tel{
    padding:5px 0 5px 0;
}

/*main*/

/* first sectoon */

.hello{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    position:relative;
}

.big-image-content::after{
    content:'ReLanta';
    font-weight: 400;
    font-size: 65px;
    line-height: 75px;
    color: #3F6DAB;
    position:absolute;
    left:40%;
    background:white;
    margin:20px;
    bottom:80%;
}

.big-image__img{
    width:600px;
    height:auto;
}

.calculator-offer{
    display:flex;
    flex-direction: column;
}

.calculator__text-big{
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
    margin-bottom:25px;
}

.calculator__text-small{
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    padding-top:25px;
}

.calculator__btn{
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    color:black;
    line-height: 22px;
    padding: 20px 25px;
    border-radius: 20px;
    background: #FFBD4C;
    text-decoration: none;
    max-width: 247px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -4px 4px 4px rgba(33, 70, 102, 0.1);
    transition: .2s;
    margin-top:40px;
    border:none;
}

.calculator__btn:hover {
  background: #D9931B;
}

/*second section*/

.blocks-info {
    display: grid; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . . ."; 
    margin-top:150px;
}
.block{
    filter: drop-shadow( 5px 10px rgb(41 35 92 / 10%));
    position: relative;
}

.content-block{
    background: #ABDDF11A;
    max-width: 200px;
    height:150px;
    padding:30px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -35px;
    border-radius: 25px;
    justify-content: space-evenly;
}

.path-first-type{
    clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
}

.path-second-type{
    clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0 95%);;
    -webkit-clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0 95%);;
}

.block__num{
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
}

.block__second{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}

.block-third{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.first__logo::before{
    content:'';
    width:100%;
    height:100%;
    background-image:url('../img/clock.png');
    position:absolute;
    background-repeat:no-repeat;
    left:23%;
    bottom:30%;
}

.second__logo::before{
    content:'';
    width:100%;
    height:100%;
    background-image:url('../img/chlopak.png');
    position:absolute;
    background-repeat:no-repeat;
    left:23%;
    bottom:30%;
}

.third__logo::before{
    content:'';
    width:100%;
    height:100%;
    background-image:url('../img/box.png');
    position:absolute;
    background-repeat:no-repeat;
    left:23%;
    bottom:30%;
}

.fourth__logo::before{
    content:'';
    width: 20%;
    height:100%;
    background-image:url('../img/truck.png');
    position:absolute;
    background-repeat:no-repeat;
    left:23%;
    bottom:30%;
}

/*third block*/

.ufac{
    margin-top:65px;
}

.ufac__title{
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    margin-bottom:35px;
}

.list-of-companies{
    display: grid; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . . . ."; 
}

.company{
    background: #FFFFFF;
    border: 1px solid #ABDDF1;
    border-radius: 20px;
    margin:20px 15px;
    padding:10px 20px;
    display: flex;
    justify-content: center;
}

.company__img{
    width:140px;
    height:auto;
}

/*fourth block*/

.mapa{
    margin-top:50px;
}

.mapa__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mapa__title{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mapa__text{
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 38px;
    color: #2D5284;
}

.mapa-img__img{
    width: 700px;
    height: auto;
}

/*fifth block*/

.geography{
    margin-top:50px;
    margin-bottom:50px;
    background: rgba(171, 221, 241, 0.1);
    box-shadow: -4px 4px 4px rgba(41, 35, 92, 0.1);
    border-radius: 50px;
    width: 95%;
}

.geography-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.geography__list{
    display: flex;
    width: -webkit-fill-available;
    flex-direction: column;
}

.geography__title{
    font-weight: 700;
    font-size: 35px;
    line-height: 34px;
    margin-top:35px;
    margin-bottom:35px;
}

.geography__item{
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    margin-bottom:20px;
}

.geography-img__img{
    margin-left: -20%;
    width: 600px;
    height: auto;
    margin-left: -20%;
}

.geography__eleemnt{
    position: relative;
    margin-left: 6%;
    margin-bottom:35px;
}

.geography__item::before{
    content:'';
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-image:url('../img/arrow.png');
    position: absolute;
    right: 6%;
    bottom: -15%;
}  

.gruz{
    margin-left:0;
}

.gruz__list{
    width: auto;
}

.types__title{
    margin-left:60px;
    margin-bottom:60px;
    margin-top:60px;
}

.types-content{
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background-image:url('../img/road.png');
    background-repeat: no-repeat;
    background-position:-15px bottom;
    background-size: 110%;
    padding-bottom: 30%;
}

.types__element{
    margin-left: 2%;
    width: max-content;
}

.first-page{
    margin-right: 15%;
    margin-left:60px;
}

.types__list{
display: flex;
width: -webkit-fill-available;
margin-left: 1%;
}

.logistic-img__img{
    width: 400px;
    height: auto;
    margin-left: 0%;
    padding-right: 230px;
}

/*sixth section*/

.inter-end{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.connection{
    display:flex;
    margin-top:50px;
    margin-bottom:50px;
    background: rgba(171, 221, 241, 0.1);
    box-shadow: -4px 4px 4px rgba(41, 35, 92, 0.1);
    border-radius: 50px;
    flex-direction: column;
    align-items: flex-start;
}

.connection-content{
    padding-left:30px;
    padding-top:50px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width: -webkit-fill-available;
}

.invite-text{
    margin-top:55px;
    padding-bottom:25px;
}

.connection__title{
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
}

.connection__text{
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    margin-bottom:30px;
    display: flex;
}

.connection__btn{
    margin-top:0;
    background: #5589C9;
    color:white;
    max-width: 280px;
}

.connection__btn:hover{
    background:#4771A5;
}

.connection__img{
    margin-right:15px;
    width:auto;
    height:100%;
}

#show-numbers{
    margin-left:15px;
}

.flash-map{
    margin-right: 10%;
    margin-left: 5%;
}

.flash-map__img{
    width:520px;
    height:auto;
}

.connection{
    min-width: 520px;
    height:520px;
}

@media screen and (max-width: 1500px) {
    .flash-map {
        margin-right: 20%;
    }
}

@media screen and (max-width: 1400px) {
    .flash-map {
        margin-right: 5%;
    }
}

/* Footer */
#footer{
    margin-left:0;
    background-repeat: no-repeat;
    background-image:url('../img/footerbg.png');
    color:white;
    padding-left:10%;
    padding-top:50px;
    padding-bottom:50px;
    background-position: right;
    background-size: contain;
}

.classic-footer{
    background-color:#5589C9;
}

.footer-content{
    display:flex;
}

.footer__first, .footer__second, .footer__third{
    display:flex;
    flex-direction: column;
    margin-right:70px;
}
/*first section*/
.footer-slogon__text{
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
}

.footer-name__text{
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 19px;
}

.footer-logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom:30px;
}

.footer-logo__big{
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 80%;
}

.footer-logo__small{
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 19px;
}

.footer-slogon{
    margin-bottom:40px;
}

.footer-social{
    margin-bottom:30px;
}

.footer-social__img{
    margin-right:20px;
    width:35px;
    height:auto;
}

/*second section*/
.footer-macie{
    margin-bottom:30px;
}

.footer-macie__text{
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
}

.footer-tel{
    margin-bottom:40px;
}

.footer-tel__text{
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
}

.footer-btn__btn{
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    color:white;
    padding: 20px 25px;
    border-radius: 20px;
    background: #5589C9;
    border: 2px solid #FFFFFF;
    text-decoration: none;
    max-width: 247px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -4px 4px 4px rgba(33, 70, 102, 0.1);
    transition: .2s;
}

/*third section*/
.footer__third{
    margin-left:50px;
}

.footer-list__before{
    position: relative;
    margin-bottom:20px;
}

.footer-list__element::before{
    content:'';
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-image:url('../img/footerarrow.png');
    position: absolute;
    right: 20%;
    bottom: -5%;
}

.footer-list__element{
    font-weight: 500;
    font-size: 25px;
    line-height: 22px;
    margin-bottom:25px;
    color:white;
    text-decoration: none;
}

/* Adaptive */

@media screen and (max-width: 1480px) {
    .inter-end {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    .flash-map{
        margin-right:0%;
    }

    .geography{
        width: 100%;
    }
}


@media screen and (max-width: 1024px) {
    .big-image-content::after{
        bottom: 88%;
    }
    .first-page {
        margin-right: 5%;}
        .logistic-img__img {
            padding-right: 40px;
        }
    .list{
        height: 150px;
    }

    .ul__element{
        padding: 0 30px 0 20px;
    }

    .info{
        display:none;
    }

    .ufac{
        text-align: center;
    }

    .ufac__title{
        font-size:30px;
    }

    .list-of-companies{
        margin-top:35px;
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          ". ."
          ". ."
          ". ."
          ". ."
          ". ."; 
    }

    .company{
        margin: 20px 90px;
    }

    .company__img{
        width: 170px;
        height: auto;
    }

    .inter-end{
        margin-right:5%;
    }

    .mapa__content{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .mapa__title{
        margin-bottom:35px;
    }

    .geography__item {
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
    }

    .geography__item::before{
        bottom: -5%;
    }

    .flash-map__img{
        height: 480px;
        width: 480px;
    }

    .connection{
        height: 480px;
        min-width: 480px;
    }

    .connection-content{
        padding-top:20px;
    }

    #footer{
        background-position: 180%;
    }
}
#mob-menu{
    display:none;
    position: absolute;
    background:#5589C9;
    border-radius: 20px;
    left: 45%;
    width:250px;
    z-index: 50;
}

.mob__element{
    margin-bottom:15px;
}

.mob__a{
    color:white;
    text-decoration: none;
    font-size:25px;
    font-weight: 400;
}
@media screen and (max-width: 550px) {

    .heeader-element__block{
        display:block !important;
    }

    .list{
        justify-content: space-between;
    }

    .ul__element{
        display: none;
    }

    .big-image-content{
        display:none;
    }

    .blocks-info {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas: ".";
        margin-top: 150px;
    }

    .block{
        margin-bottom: 25%;
        margin-left: 15%;
    }

    .first__logo::before, .second__logo::before, .third__logo::before, .fourth__logo::before{
        left: 25%;
        width: 30%;
    }

    .list-of-companies {
        margin-top: 35px;
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "."
            "."
            "."
            "."
            "."
            "."
            "."
            "."
            "."
            ".";
    }

    .mapa-img__img {
        width: 364px;
    }

    .mapa__text{
        text-align: center;
    }

    .geography-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .geography__title{
        text-align: center;
    }

    .geography__item{
        margin-left:15px;
        font-size: 20px;
    }

    .logistic-img__img{
        margin-left:0%;
        padding-right: 0px;
    }

    .geography-img__img{
        margin-left:0;
        width:373px;
    }

    .types__list{
        flex-direction: column;
    }

    .first-page{
        margin-right:0;
        margin-left: 10px;
    }

    .second-page{
        margin-right:0;
        margin-left: 10px;
    }

    .types__element{
        width: auto;
    }

    .geography__eleemnt {
        margin-left: 10%;
    }

    .inter-end{
        flex-direction: column;
    }

    .flash-map__img{
        height: 350px;
        width: 350px;
    }

    .connection{
        height:550px;
        min-width: 350px;
    }

    .footer__first, .footer__second, .footer__third{
        margin-right: 40px;
    }

    .imgmark{
        width: auto;
        height: 70%;
    }

    .imgtel{
        width: auto;
        height: 65%;
    }

    .imgmail{
        width: auto;
        height: 105%;
    }

    .imgclock{
        width: auto;
        height: 130%;
    }

    .pokazat{
        display: flex;
    flex-direction: column;
    }

    #footer{
        background-image:none;
    }

    .footer__third{
        display:none;
    }

    .connection__btn{
        margin-left: 5%;
    }

    .company{
        margin: 20px 10px;
    }
    .calculator-offer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #burger{
        display:block;
    }

    .burger__icon{
        width:50px;
        height:auto;
    }

    .x__icon{
        display:none;
        width:30px;
        height:auto;
        margin-top:10px;
        margin-right:10px;
    }

}

/*forms*/
#raskr-id{
    display:none;
    transition:.2s;
    position: absolute;
}

.lang-var{
    color: #AEACAC;
    text-decoration: none;
}

.lang-var:hover{
    color: #1A262E;
}

#show-numbers{
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

#show-numbers:active {
    color: -webkit-activelink;
}
.x-btn{
    cursor: pointer;
    margin-left: 97%;
}

#show-more{
    display: none;
    background: #FFFFFF;
    border-radius: 20px;
    width: 362px;
    height: 398px;
    position: fixed;
    z-index: 101;
    left: 39%;
    bottom: 34%;
    padding-left:50px;
    padding-right:30px;
    padding-top:20px;
}

#zakaz-consl{
    display: none;
    background: #FFFFFF;
    border-radius: 20px;
    width: 362px;
    height: 380px;
    position: fixed;
    z-index: 101;
    left: 39%;
    bottom: 34%;
    padding-left:50px;
    padding-right:30px;
    padding-top:20px;
}

.consl-tel{
    margin-bottom:30px;
}

#order-call{
    display: none;
    background: #FFFFFF;
    border-radius: 20px;
    width: 362px;
    height: 310px;
    position: fixed;
    z-index: 101;
    left: 39%;
    bottom: 34%;
    padding-left:50px;
    padding-right:30px;
    padding-top:20px;
}

.order-input{
    margin-bottom:35px;
    width: 300px;
}

.order-individual{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#how-much-form{
    display: none;
    background: #FFFFFF;
    border-radius: 20px;
    width:470px;
    height:550px;
    position: fixed;
    z-index: 101;
    left:37%;
    bottom:15%;
    padding-left:50px;
    padding-right:50px;
    padding-top:20px;
}

.form-title__text{
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
}

.simple-label{
    margin:25px 0 10px 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
}

.simple-form{
    display: flex;
    flex-direction: column;
}

.simple-input{
    background: #EDF5F8;
    box-shadow: inset -4px 4px 4px rgba(41, 35, 92, 0.05);
    border-radius: 12px;
    padding:15px 15px;
    border:none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.simple-textarea{
    background: #EDF5F8;
    box-shadow: inset -4px 4px 4px rgba(41, 35, 92, 0.05);
    border-radius: 12px;
    padding:15px 15px;
    border:none;
    resize: none;
    height:90px;
    margin-bottom:30px;
}

.simple-submit{
    cursor:pointer;
    padding: 10px 32px;
    background: #5589C9;
    border-radius: 12px;
    border:0;
    color:white;
    width:45%;
    font-size:20px;
    font-weight: 500;
    line-height: 22px;
}

.form-buttons{
    display: flex;
    justify-content: space-between;
}

.cancel-form{
    color:#5589C9;
    background: white;
    border:2px solid #5589C9;
}

.order-submit{
    padding: 15px 15px;
    width: 55%;
}

.nums-form{
    margin-left:15%;
}

.nums-title{
    text-align:center;
    margin-bottom: 20px;
}

.nums-text{
    font-size:20px;
}

.nums-contact{
    margin-bottom: 15px;
}

/* scrollup */

#myBtn {
    width:80px;
    height:80px;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-image: url('../img/scrollup.png'); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 100px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    background-size: contain;
    transition:.5s;
    opacity:.3;
}

#myBtn:hover{
    opacity:1;
}

@media screen and (max-width: 550px) {
    #myBtn{
        background-repeat: no-repeat;
        width: 67px;
    height: 65px;
    }

    .simple-submit {
        cursor: pointer;
        padding: 10px 9px;
        background: #5589C9;
        border-radius: 12px;
        border: 0;
        color: white;
        width: 45%;
        font-size: 19px;
        font-weight: 500;
        line-height: 22px;
    }

    .form-title__text {
        font-weight: 500;
        font-size: 25px;
        line-height: 34px;
    }

    #how-much-form {
        display: none;
        background: white;
        border-radius: 20px;
        width: 270px;
        height: 577px;
        position: fixed;
        z-index: 101;
        left: 13%;
        bottom: 7%;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 20px;
    }

    #zakaz-consl {
        display: none;
        background: white;
        border-radius: 20px;
        width: 270px;
        height: 431px;
        position: fixed;
        z-index: 99;
        left: 13%;
        bottom: 16%;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 20px;
    }

    #order-call {
        display: none;
        background: white;
        border-radius: 20px;
        width: 270px;
        height: 299px;
        position: fixed;
        z-index: 99;
        left: 13%;
        bottom: 30%;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 20px;
    }

    .cancel-form{
        color:#5589C9;
        background: white;
        border:2px solid #5589C9;
    }

    .x-btn{
        cursor: pointer;
        margin-left: 100%;
    }

    #show-more {
        display: none;
        background: #FFFFFF;
        border-radius: 20px;
        width: 266px;
        height: 412px;
        position: fixed;
        z-index: 99;
        left: 15%;
        bottom: 18%;
        padding-left: 50px;
        padding-right: 30px;
        padding-top: 20px;
    }

    .nums-form {
        margin-left: 0%;
    }

    .nums-title{
        text-align: left;
    }
}